<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="stylesheets/about.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <meta
      name="description"
      content="The One-Stop-Shop for course discovery at UC Irvine."
    />
    <meta
    name="author"
    content="ICSSC Project Committee"
    />
    <meta
    name="keywords"
    content="UC Irvine, UCI, WebSoC, Rate My Professor, AntAlmanac, Catalogue, course planning, schedule, Antplanner"
    />

    <title>PeterPortal</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-innercontainer">
        <img src="/peterportal-banner-logo.svg" class="p-logo">
        <div class="navigation-container">
          <a class="navigation-link" href=""><p>About</p></a>
          <a class="navigation-link" href=""><p>Team</p></a>
          <a class="navigation-link" href=""><p>Terms of Service</p></a>
          <a class="navigation-link" href=""><p>Privacy Policy</p></a>
          <button class="ui blue basic button">Launch PeterPortal</button>
        </div>
      </div>
    </nav>
    <!-- <div id="container">
      <img src="img/peterportal-banner-logo.svg">
    </div> -->

    <div class="content-container">

    <div class="about-container">
      <img src="/p.svg">
      <p>PeterPortal is a web application aimed to aid UCI students with course planning research. 
        It offer features such as filtered catalogue/professor search, visual dependency/prerequisite 
        tree, grade distribution, visual timetable, and professor review. We consolidate public data 
        available on multiple UCI sources on the application to improve the user experience when planning 
        their course schedule.</p>
    </div>
  

    <div class="team-subheader">
      <h2>Core Team</h2>
    </div>

    <div class="team-galley-container">
      <div class="team-galley-innercontainer">
        <div class="team-container">
          <img class="team-profile" src="/team/monica.jpg"></img>
          <h3>Monica Bui</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/aaron.jpg"></img>
          <h3>Aaron Chen</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/evelyn.jpg"></img>
          <h3>Evelyn Cheng</h3>
          <h4>UI/UX Designer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/marawin.jpg"></img>
          <h3>Marawin Chheang</h3>
          <h4>Project Manager</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/ritika.jpg"></img>
          <h3>Ritika Choudhury</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/raman.jpeg"></img>
          <h3>Raman Gupta</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img style="object-position: 5% 18%;" class="team-profile" src="/team/ryan_h.jpeg"></img>
          <h3>Ryan Hartanto</h3>
          <h4>Front-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/trisha.jpg"></img>
          <h3>Trisha Le</h3>
          <h4>UI/UX Designer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/yizhen.jpeg"></img>
          <h3>Yizhen Liu</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/ryan_m.jpg"></img>
          <h3>Ryan Mohta</h3>
          <h4>UI/UX Designer</h4>
        </div>

        <div class="team-container">
          <img class="team-profile" src="/team/braedon.png"></img>
          <h3>Braedon Schmidt</h3>
          <h4>Back-end Developer</h4>
        </div>

        <div class="team-container">
          <img class="team-profile" src="/team/mayank.jpg"></img>
          <h3>Mayank Sharma</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/william.JPG"></img>
          <h3>William Yang</h3>
          <h4>Back-end Developer</h4>
        </div>
    </div>

    </div>

    <div class="team-subheader">
      <h2>Project Alumni</h2>
    </div>

    <div class="team-galley-container">
      <div class="team-galley-innercontainer">
        <div class="team-container">
          <img style="object-position: 5% 18%;" class="team-profile" src="/team/rona.jpg"></img>
          <h3>Rona Chan</h3>
          <h4>Front-end Developer</h4>
        </div>
      </div>
    </div>

  </div>


    

  </body>

</html>
