

.filter-list-container {
    position: fixed;
    margin-top: 0;
    overflow-y: auto;
    width: 260px;
    margin-left: 36px;
    margin-top: 18px;
    height: 100%;
}


.sk-item-list__item {
    display: flex;
    font-weight: 500;
    margin: 3px 0;
}

.sk-item-list-option__checkbox {
    flex: 0 0 15px;
    margin: 3px 5px 0 1px;
}

.sk-item-list-option__text, .sk-item-list-option__count{
    font-size: 12px;
}

.sk-item-list-option__text {
    flex: auto;
}

.sk-item-list-option__count{
    text-align: right;
    color: gray;
    margin-right: 4px;
}

.sk-select select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    padding: 6px 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    outline: 0;
    font-size: 12px;
    border-radius: 3px;
    color: #000;
    height: auto;
    line-height: normal;
}

.sk-select {
    position: relative;
    width: 100%;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 10px;
        width: 0;
        height: 0;
        border-top: 6px solid #666;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        pointer-events: none;
    }
}