.search-page {
    margin-top: 72px;
}

highlight{
    font-style: normal;
    font-weight: bold;
    text-decoration: underline
}

.sk-hits-hit__id_department, .sk-hits-hit__id_number, .sk-hits-hit__name{
    font-weight: 500;
}

.course-department_unit {
    color: gray;
    font-weight: normal;
    margin-top: 0px;
}
