@import '../../branding.scss';

#gradedist-module-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 36px auto 200px;
}

#grade-dist-label {
  margin: "0";
}

#menu {
  display: flex;
  justify-content: flex-end;
}

#chart {
  height: 30em;
}
