.timetable-container{
    min-width: 800px;
    overflow-x: scroll; 
}

.time-header {
    th {
        border-left: none !important;
        background-color: white !important;
        
        span {
            display: block;
            transform: translateX(-25px); 
        }
    }
}


.time-row > tr > td:not(.active){
    min-width: 90px;
    max-width: 90px;
    padding: 0;
    
}

.course-section{
    padding: 0 !important;
    text-align: left !important;
    font-size: 12px !important;
    height: 60px;
}

tr > td:nth-child(2n) {
    background-color: rgba(0,0,50,.05);
}

td {
    max-height: 60px;
}

.ui.table {
    border: none;
}

.ui.progress:last-child {
    margin: 0px;
    max-height: 6px;    
}

.ui.progress .bar {
    max-height: 6px; 
}