.professor_page {
    margin: 100px auto 100px auto;
}
.course_content-container {
    width: 1000px;
    margin: auto;
    
    .course_info-container {

        #course_id {
            color: #5E9EC1;
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }

        #course_name {
            margin-top: 0;
        }

        #course_dept-school-unit {
            color: gray;
        }


        #course_addl-info {
            display: flex;
            
            #course_desc-container {
                padding-right: 2rem;
            }

            #course_ge-info {
                width: 75%;
                color: gray;
            }
        }

    }
}

.list-item{

    margin-bottom: 6px;
}

.ui.card>.content {
    display: flex;
    flex-direction: column;
}

.ui.fitted.toggle.checkbox {
    margin: auto 6px;
}

i.icon {
    margin-top: -2px;
}

.ui.card {
    z-index: -1;
    margin: auto;
}